body {
    padding: 0;
    margin: 0;
    background: transparent url('/assets/content/dot.png') repeat 0 0 ;
    overflow: hidden !important;
}
* {
  font-family: Consolas, sans-serif;
}

video#bgvid {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    overflow:hidden;
  }
.rounded {
    border-radius: 16px;
}
.is-boxcent {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 
               1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
}

.marqueecontainer {
  position: absolute;
  width: 420px;
  bottom: 10%;
  text-decoration: none;
  text-decoration-color: #fff;
  font-weight: 900;
  text-align: center;
  color: white;
  overflow: hidden;
}

select {
  background-color: #000;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 4px;
  width: 128px;
  padding: 5px;
  margin: 5px;
  font-size: 16px;
  font-weight: bold;
}
#card {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 16px;
}


  @media screen and (max-device-width: 800px) {
    html { background: url(/assets/content/buffer.png) #000 no-repeat center center fixed; }
    #bgvid { display:  block; }
    }
